services:
  n8n:
    ports:
      - 127.0.0.1:5678:5678

  qdrant:
    ports:
      - 127.0.0.1:6333:6333
      - 127.0.0.1:6334:6334

  postgres:
    ports:
      - 127.0.0.1:5433:5432                

  redis:
    ports:
      - 127.0.0.1:6379:6379

  ollama-cpu:
    ports:
      - 127.0.0.1:11434:11434

  ollama-gpu:
    ports:
      - 127.0.0.1:11434:11434
      
  ollama-gpu-amd:
    ports:
      - 127.0.0.1:11434:11434